<form class="form" id="contact_form">
    <div class="row">
        <div class="col-md">
            <div class="form-group">
                <label for="name">Navn</label>
                <input type="name" class="form-control" id="name" name="name"/>
               
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="phone">Telefonnummer</label>
                <input type="text" class="form-control" id="phone" name="phone">
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md">
            <div class="form-group">
                <label for="email">Epost*</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="city">Sted</label>
                <input type="text" class="form-control" id="city" name="city">
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div class="form-group">
                <label for="message">Melding</label>
                <textarea type="text" class="form-control" id="message" name="message" rows="4"></textarea>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col d-flex">
            <button type="submit" class="btn btn-main ml-auto">Send inn</button>
        </div>
    </div>
    
</form>