<!-- footer  -->
<footer class="footer">
    <div class="container">
        <div class="row footer_row">
            <div class="col links_col">
                <div class="row">
                    <div class="col">
                        <h4>Conlou</h4>
                        <div class="links_wrap">
                            <ul>
                                <li><a href="#" title="" class="footer-link">Hjem</a>
                                <li><a href="#" title="" class="footer-link">Om oss</a>
                                <li><a href="#" title="" class="footer-link">Karierre</a>
                                <li><a href="#" title="" class="footer-link">Kontakt oss</a>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <h4>Renhold</h4>
                        <div class="links_wrap">
                            <ul>
                                <li><a href="#" title="" class="footer-link">Tjenester</a>
                                <li><a href="#" title="" class="footer-link">Tips</a>
                                <li><a href="#" title="" class="footer-link">Blogg</a>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <h4>Kantine</h4>
                        <div class="links_wrap">
                            <ul>
                                <li><a href="#" title="" class="footer-link">Tjenester</a>
                                <li><a href="#" title="" class="footer-link">Blogg</a>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <h4>Annet</h4>
                        <div class="links_wrap">
                        <ul>
                            <li><a href="#" title="" class="footer-link">Vaktmester</a>
                            <li><a href="#" title="" class="footer-link">Resepsjon</a>
                            <li><a href="#" title="" class="footer-link">Planteservice</a>
                            <li><a href="#" title="" class="footer-link">Post</a>
                        </ul>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col address_col">
                <div class="row">
                    <div class="col heading-col"> <h4>Conluo Renhold AS</h4></div>
                    <div class="w-100"></div>
                    <div class="col content-col">
                        <div class="links_wrap">
                            <ul>
                                <li>Sandstuveien 60A</li>
                                <li>1184 Oslo</li>

                                <li class="mt-4">post@conluo.no</li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="col  content-col">
                        <div class="links_wrap">
                            <ul>
                                <li>Tlf: 40 00 13 15</li>
                                <li>Tlf Østfold: 41 32 25 75</li>
                                <li>Tf Kantine: 994 46 624</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<script src="js/script.js" type="text/javascript"></script>
</body>
</html>