
    
    <!-- hero  -->
    <section class="section hero-section" style="background-image: url(images/hero_bg.jpg);">
        <!-- header  -->
        <header class="header">
            <div class="container">
                <div class="row header_row">
                    <div class="col-h phone_col">
                        <a href="tel:+4740001315"><span class="phone_text">Ring oss: 40 00 13 15</span><span class="phone_icon"><img src="images/phone-icon.svg" alt="phone"/></span></a>
                    </div>
                    <div class="col-h logo_col">
                        <a href="#" title="Kantine" class="main-logo">
                            <img src="images/logo.png" alt="Kantine Logo"/>
                        </a>

                        <a href="#" title="title" class="alt-logo">
                            <img src="images/milijofyrtarn.png" alt="logo"/>
                        </a>

                        <a href="#" title="title" class="alt-logo">
                            <img src="images/nho-service.png" alt="logo"/>
                        </a>

                        <a href="#" title="title" class="alt-logo">
                            <img src="images/gasellene.png" alt="logo"/>
                        </a>

                        <a href="#" title="title" class="alt-logo">
                            <img src="images/aaa_hoyeste_logo.png" alt="logo"/>
                        </a>

                    
                        
                    </div>
                    <div class="col-h menu_col">
                        <ul class="main_nav">
                            <li><a href="#features" class="menu_link" title="Tilbud">Tilbud</a></li>
                            <li><a href="#contact" class="menu_link"title="Kontakt oss">Kontakt oss</a></li>
                        </ul>
                        <div class="menu_toggle">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- hero section  -->
        <div class="overlays hero-overlay"></div>
        <div class="container">
            <div class="row hero_row">
                <div class="col img-col">
                    <div class="hero-image_container">
                        <img src="images/hero1.jpg" class="hero_img img_1" alt=""/>
                        <img src="images/hero2.jpg" class="hero_img img_2" alt=""/>
                    </div>
                </div>
                <div class="col content-col">
                    <h1>Kantine</h1>
                    <p>Om dere er en liten eller stor bedrift så vet vi at mat og tiden rundt bordet med kolleger er en viktig faktor for å skape et godt miljø. Alle trenger et avbrekk i arbeidsdagen hvor man kan nyte god mat i en god kantine og hygge seg med gode kolleger.</p>
                </div>
            </div>
        </div>
    </section>

<main>

    <!-- features  -->
    <section class="section features-section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">

                    <figure>
                        <img src="images/kantinetilbud.svg"/>
                    </figure>
                    <h2 class="feature-title">Kantinetilbud</h2>
                    <p>
                        La oss hjelpe dere med kantinen. Vi sørger for å finne den rette person som er faglig kompetent og passer deres miljø. 
                    </p>
                </div>

                <div class="col-sm-4">

                    <figure>
                        <img src="images/mattilbud.svg"/>
                    </figure>
                    <h2 class="feature-title">Mattilbud</h2>
                    <p>Mattilbudet blir vi sammen enige om. Vi kan tilby alt fra det enkleste lunsjbord med rimelige råvarer til det mer avanserte med stort utvalg og spennende retter.</p>
                </div>

                <div class="col-sm-4">

                    <figure>
                        <img src="images/quality.svg"/>
                    </figure>
                    <h2 class="feature-title">Kvalitet</h2>
                    <p>Vi er sterkt opptatt av høy kvalitet i alle ledd, noe som igjen bidrar til at våre kunder er fornøyde og trives på jobb. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- about  -->
    <section class="section about_section">
        <div class="overlays about-overlay"></div>
        <div class="container">
            <div class="row align-items-center about_row">
                <div class="col-md-8 abt_content_col">
                    <p class="abt_content">Conluo Kantine ledes av en av bransjens virkelig erfarne og vellykkede kantinebyggere: Solfrid Borge som har solid erfaring og faglig tyngde innen kantineservice.</p>

                    <p class="abt_link"><a href="#" title="">Les mer om Solfrid og se tidligere referanser her.</a></p>

                    <p class="abt_info"><strong>«Fra oppvaskhjelp til kantinebestyrer for en kantine med 350 bespisende på 1 år gjør at du må lære litt om alt egentlig»</strong></p>
                </div>
                <div class="col-md-4">
                    <div class="about_img">
                        <div class="img_overlay" style="background-image: url(images/about-kantine.jpg)"></div>
                        <img src="images/about-kantine.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contact form  -->
    <section class="section contact-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="form" id="contact_form">
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="name">Navn</label>
                                    <input type="name" class="form-control" id="name" name="name" required/>
                                   
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="phone">Telefonnummer</label>
                                    <input type="text" class="form-control" id="phone" name="phone" required/>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="email">Epost*</label>
                                    <input type="text" class="form-control" id="email" name="email"required/>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label for="city">Sted</label>
                                    <input type="text" class="form-control" id="city" name="city" required/>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="message">Melding</label>
                                    <textarea type="text" class="form-control" id="message" name="message" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col d-flex">
                                <button type="submit" class="btn btn-main ml-auto">Send inn</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
                
            </div>
        </div>
    </section>
</main>
