.section{
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    .overlays{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
    
}

.hero-section{
    padding-bottom: 80px;
    padding-top: 180px;
    background-size: cover;
    position: relative;
    @media screen and (max-width: 992px){
        padding-top: 110px;
        padding-bottom: 40px;
    }
    @media screen and (max-width: 576px){
        padding-top: 90px;
        padding-bottom: 30px;
    }
    h1,p{
        color: #fff;
    }
    h1{
        font-size: 2.25rem;
        @media screen and (max-width: 992px){
            font-size: 1.5rem;
        }
    }
    p{
        font-size: 1.25em;
        line-height: 2rem;
        @media screen and (max-width: 576px){
            font-size: 1em;
            line-height: 25px;
        }
    }
    .hero-overlay{
        position: absolute;
        z-index: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.6);
    }
    .container{
        position: relative;
        z-index: 1;
    }
    .row{
        align-items: center;
        @media screen and (max-width: 767px){
            flex-direction: column-reverse;
        }
    }
    .img-col{
        max-width: 384px;
        @media screen and (max-width: 768px){
            max-width: 100%;
            margin-top: 30px;
        }
    }
    .content-col{
        @media screen and (min-width: 993px){
            padding-left: 115px;
        }
    }
    .hero-image_container{
        position: relative;
        padding-bottom: 107.3%;
        max-width: 384px;
        @media screen and (max-width: 768px){
            max-width: 100%;
        }
        width: 100%;
        .hero_img{
            position: absolute;
            max-width: 100%;
            border: 1px solid #fff;;
            &.img_1{
                width: 73%;
                top: 0;
                left: 0;
            }
    
            &.img_2{
                width: 44.3%;
                bottom: 0;
                right: 0;
            }
        }
        
    }
}

.features-section{
    text-align: center;
    figure{
        margin-bottom: 20px;
    }
    .feature-title{
        position: relative;
        font-size: 24px;
        margin-bottom: 30px;
        padding-bottom: 20px;
        @media screen and (max-width: 992px){
            font-size: 20px;
        }
        &:after{
            content: '';
            height: 1px;
            position: absolute;
            bottom: 0;
            width: 100%;
            max-width: 235px;
            background: transparent;
            display: block;
            border-bottom: 3px solid $green;
            transform: translateX(-50%);
            left: 50%;
            @media screen and (max-width: 992px){
                max-width: 200px;
            }
        }
    }
}

.about_section{
    background: url(../images/hero_bg.jpg) no-repeat center/cover;
    padding-top: 80px;
    padding-bottom: 150px;
    position: relative;
    @media screen and (max-width: 992px){
        padding-top: 30px;
        padding-bottom: 60px;
    }
    &:before{
        content: '';
        position: absolute;
        bottom: -1px;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-top: 0 solid transparent;
        border-right: 48.61vw solid #000;
        border-bottom: 230px solid transparent;
        @media screen and (max-width: 768px){
            border-bottom: 120px solid transparent;
        }
        @media screen and (max-width: 576px){
            border: 0 solid transparent;
            height: 220px;
            left: 0;
            bottom: 0;
            top: auto;
            right: 0;
            width: 100%;
            background-color: #000;
            transform: skewY(-9deg);
        }
    }
    &:after{
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 230px solid transparent;
        border-right: 100vw solid $dark_bg;
        border-bottom: 0vw solid transparent;
        @media screen and (max-width: 768px){
            border-top: 120px solid transparent;
        }
        @media screen and (max-width: 576px){
            border-top: 60px solid transparent;
        }
    }
    .about_row{
        .abt_content_col{
            @media screen and (min-width: 1024px){
                padding-right: 133px;
            }
            @media screen and (min-width: 1200px){
                padding-right: 200px;
            }
        }
        @media screen and (max-width: 767px){
            flex-direction: column-reverse;
        }
    }
    .about-overlay{
        background-color: rgba(0,0,0,0.6);
    }
    a,p{
        color: rgba(255,255,255,0.95);
    }
    .abt_content,.abt_link{
        margin-bottom: 40px;
        @media screen and (max-width: 992px){
            margin-bottom: 30px;
        }
        @media screen and (max-width: 576px){
            margin-bottom: 25px;
        }
    }
    .about_img{
        max-width: 375px;
        width: 100%;
        position: relative;
        @media screen and (max-width: 767px){
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            max-width: 100%;
            margin-bottom: 30px;
        }
        .img_overlay{
            top: 0;
            left: 0;
            right: 0;
            padding-bottom:133%;
            position: absolute;
            background-position: top center;
            background-size: cover;
            width: 100%;
            border: 1px solid #fff;
            @media screen and (max-width: 767px){
                padding-bottom: 77.56%;
            }
        }
        img{
            width: 100%;
            max-width: 375px;
            opacity: 0;
            @media screen and (max-width: 767px){
                max-width: 100%;
                width: calc(100vw - 60px);
                height: calc(77.56vw - 45px);
            }
            @media screen and (max-width: 576px){
                width: calc(100vw - 32px);
                height: calc(77.56vw - 24px);
            }
        }
    }
}

.contact-section{
    background-color: $dark_bg;
    color: #fff;
    
    .container{
        max-width: 550px;
        @media screen and (min-width: 993px){
            transform: translateY(-30px);
        }
        
    }
    @media screen and (min-width: 993px){
        padding-top: 0;
    }
    @media screen and (max-width: 576px){
        padding-bottom: 10px;
    }
    
}

.container{
    position: relative;
    z-index: 1;
    @media screen and (max-width: 1199px){
        width: 100% !important;
        max-width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }
    @media screen and (max-width: 576px){
        padding-left: 16px;
        padding-right: 16px;
    }
}


