
footer{
    padding-top: 120px;
    padding-bottom: 120px;
    @media screen and (max-width: 992px){
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media screen and (max-width: 576px){
        padding-bottom: 30px;
    }
    background-color: $darker;
    color: #fff;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 90px solid transparent;
        border-right: 100vw solid $dark_bg;
        border-top: 0vw solid transparent;
        @media screen and (max-width: 992px){
            border-bottom: 50px solid transparent;
        }
        @media screen and (max-width: 576px){
            border-bottom: 30px solid transparent;
        }
    }
    a,p{
        color:rgba(255,255,255,0.7);
    }
    ul{
        padding: 0;
        margin-bottom: 0;
        list-style: none;
        @media screen and (max-width: 576px){
            margin-top: 24px;
        }
    }

    h4{
        color: #fff;
        position: relative;
        @media screen and (max-width: 576px){
            margin-bottom: 0px;
        }
        &:after{
            transition: all ease 0.3s;
            @media screen and (max-width: 576px){
                content:'';
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 16px;
                background: url("../images/caret.svg") no-repeat center/contain;
            }
            
        }
        &.accordion_open{
           
                
            &:after{
                transform: rotateZ(180deg);
            }
        }
    }

    .footer_row{
        @media screen and (max-width: 992px){
            flex-wrap: wrap;
        }
        .links_col{
            @media screen and (min-width: 1200px){
                margin-right: 50px;
            }
            .col{
                flex-grow: 0;
                @media screen and (min-width: 768px) and (max-width: 992px){
                    flex-basis: 144px;
                }

                @media screen and (min-width: 992px){
                    flex-grow: 1;
                }
            }
            
        }
        .address_col{
            @media screen and (min-width: 1024px){
                padding-left: 100px;
            }
            @media screen and (min-width: 577px) and (max-width: 992px){
                margin-top: 30px;
            }
            .content-col{
               
                @media screen and (min-width: 577px) and (max-width: 992px){
                    flex-grow: 0;
                    flex: 0 0 25% !important;
                }
                @media screen and (max-width: 576px){
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }
                
            }
            
            .row{
                @media screen and (min-width: 993px){
                    justify-content: flex-end;
                }
                
            }
            
        }

        .links_col, .address_col{
           
            @media screen and (max-width: 992px){
                width: 100%;
                flex: 0 0 100%;
            }
            .row{
                @media screen and (max-width: 576px){
                    flex-direction: column;
                }
            }

            .col{
                @media screen and (max-width: 576px){
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid rgba(255,255,255,0.5);
                }
                &.content-col{
                    border-bottom: none;
                    & + .content-col{
                        @media screen and (max-width: 576px){
                            border-bottom: 1px solid rgba(255,255,255,0.5);
                        }
                        
                    }
                }
                &.heading-col{
                    @media screen and (max-width: 576px){
                        border-bottom: none;
                    }
                    
                }
            }
        }

        .links_wrap{
            @media screen and (min-width: 577px){
                display: flex !important;
                flex-direction: column;
            }
            @media screen and (max-width: 576px){
                display: none;
            }
        }
    }

    
}
