// forms and buttons
form{
    .row{
        margin-left: -7px;
        margin-right: -7px;
        [class*='col-'],
        [class*='col']{
            padding-left: 7px;
            padding-right: 7px;
        }
        
    }
    label{
        font-family: $rubik;
        &.error{
            font-size: 10px;
            color: #f00;
            font-style: italic;
        }
    }
    .form-control{
        border-radius: 0;
        min-height: 44px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.7);
        color: #fff;
        &:focus{
            background: transparent;
            border: 1px solid #ccc;
            box-shadow: none;
            color: #eee;
        }
    }
}

a,button{
    &.btn{
        &.btn-main{
            background-color: $green;
            color: #fff;
            min-height: 51px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}