.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: #fff;
    transition: top ease 0.5s;
    @media screen and (max-width: 992px){
        background-color: rgba(0,0,0,0.6);
    }
    .header_row{
        align-items: center;
        flex-direction: row !important;
        .col-h{
            display: flex;
        }
        .phone_col{
            padding-top: 15px;
            padding-bottom: 15px;
            position: relative;
            z-index: 1;
            order: 1;
            @media screen and (min-width: 993px){
                flex: 0 0 100%;
                padding-left: 15px;
            }
            @media screen and (max-width: 992px){
                order: 2;
                margin-left: auto;
            }
            &:after{
                top: 0;
                bottom: 0;
                position: absolute;
                content: '';
                width: 100vw;
                transform: translateX(-50%);
                left: 50%;
                @media screen and (min-width: 993px){
                    background: rgba(0,0,0,0.6);
                }
            }
            
            p,a{
                position: relative;
                z-index: 1;
                margin-bottom: 0;
                color: #fff;
                @media screen and (max-width: 992px){
                    padding-left: 5px;
                    padding-right: 5px;
                }
                .phone_text{
                    @media screen and (max-width: 992px){
                        display: none;
                    }
                }
                .phone_icon{
                    display: flex;
                    @media screen and (min-width: 993px){
                        display: none;
                    }
                }
            }
        }

        .logo_col{
            display: flex;
            align-items: center;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 15px;
            order: 2;
            @media screen and (max-width: 992px){
                order: 1;
               
            }
            a{
                height: 40px;
                display: flex;
                align-items: center;
                & + a{
                    margin-left: 16px;
                    @media screen and (max-width: 576px){
                        margin-left: 7px;
                    }
                        
                }
            }
            .main-logo{
                padding-right: 16px;
                border-right: 1px solid rgba(140,198,63,0.2);
                @media screen and (max-width: 576px){
                    padding-right: 7px;
                }
                img{
                    width: 100%;
                    max-width: 80px;
                    @media screen and (max-width: 768px){
                        max-width: 64px;
                    }
                    @media screen and (max-width: 360px){
                        max-width: 56px;
                    }
                        
                }
            }

            .alt-logo{
                img{
                    width: auto;
                    max-height: 40px;
                    border-radius: 2px;
                    height: 100%;
                    @media screen and (max-width: 768px){
                        max-height: 30px;
                    }
                    @media screen and (max-width: 360px){
                        max-height: 24px;
                    }
                }
            }
        }

        .menu_col{
            display: flex;
            order: 3;
            z-index: 2;
            @media screen and (min-width: 993px){
                margin-left: auto;
            }
            ul{
                display: flex;
                @media screen and (max-width: 992px){
                    flex-direction: column;
                    display: none;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
                    background: rgba(0,0,0,0.95);
                    &.nav_show{
                        display: flex !important;
                    }
                }
                list-style: none;
                margin: 0;
                padding: 0;
                
                li{
                    a{
                       padding: 12px 20px;
                       display: flex;
                       color: #fff;
                    }
                }
            }
            .menu_toggle{
                background: transparent;
                border: none;
                color: #fff;
                
                display: flex;
                flex-direction: column;
                padding: 8px 15px;
                width: 55px;
                height: 44px;
                justify-content: space-evenly;
                &:focus{
                    border: none;
                    outline: none;
                }
                div{
                    width: 100%;
                    display: block !important;
                    transition: all ease .2s;
                    height: 2px;
                    background: #fff;
                    &:before{
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #fff;
                        display: block;
                    }
                }
                &.opened{
                    display: flex;
                    @media screen and (min-width: 993px){
                        display: none;
                    }
                    div{
                        &.top{
                            transform: rotate(45deg) translate(5px,6px);
                        }
                        
                        &.middle{
                            opacity: 0;
                        }
                        
                        &.bottom{
                            transform: rotate(-45deg) translate(4px,-5px);
                        }
                        
                    }
                   
                }
                @media screen and (min-width: 993px){
                    display: none;
                }
            }
        }
    }

    &.sticky{
        animation: sticky 0.5s forwards;
        position: fixed;
        background-color: rgba(0,0,0,0.8);
        .header_row{
            
            .phone_col{
                order: 2;
                margin-left: auto;
                flex: initial;
                padding-left: 0;
                &:after{
                    top: 0;
                    bottom: 0;
                    position: absolute;
                    content: '';
                    width: 100vw;
                    transform: translateX(-50%);
                    left: 50%;
                    background: transparent;
                }
                
                p,a{
                    padding-left: 5px;
                    padding-right: 5px;
                    .phone_text{
                        display: none;
                    }
                    .phone_icon{
                        display: flex;
                    }
                }
            }
    
            .logo_col{
                 order: 1;
               
            }
    
            .menu_col{
                margin-left: 0;
                ul{
                    display: flex;
                    flex-direction: column;
                    display: none;
                   
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    flex-direction: column;
                    display: none;
                    position: absolute;
                    top: 100%;
                    right: 0;
                   
                    @media screen and (min-width: 993px){
                        width: 300px;
                        left: auto;
                    }
                    background: rgba(0,0,0,0.95);
                    &.nav_show{
                        display: flex !important;
                    }
                   
                    li{
                        a{
                           padding: 12px 20px;
                           display: flex;
                           color: #fff;
                        }
                    }
                }
                .menu_toggle{
                    background: transparent;
                    border: none;
                    color: #fff;
                    display: flex !important;
                    flex-direction: column;
                    padding: 8px 15px;
                    width: 55px;
                    height: 44px;
                    justify-content: space-evenly;
                    &:focus{
                        border: none;
                        outline: none;
                    }
                    div{
                        width: 100%;
                        display: block!important;
                        transition: all ease .2s;
                        &:before{
                            content: '';
                            width: 100%;
                            height: 2px;
                            background: #fff;
                            display: block;
                        }
                    }
                    &.opened{
                        display: flex;
                        @media screen and (min-width: 993px){
                            display: none;
                        }
                        div{
                            &.top{
                                transform: rotate(45deg) translate(5px,6px);
                            }
                            
                            &.middle{
                                opacity: 0;
                            }
                            
                            &.bottom{
                                transform: rotate(-45deg) translate(4px,-5px);
                            }
                            
                        }
                       
                    }
                    @media screen and (min-width: 993px){
                        display: none;
                    }
                }
            }
        }
    }
}

@keyframes sticky{
    0%{
        top: -100%
    }
    100%{
        top: 0;
    }
}
