/*typography*/
@font-face {
    font-family: "Corbert";
    src: url("../fonts/Corbert-Regular.eot");
    src: url("../fonts/Corbert-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Corbert-Regular.woff2") format("woff2"),
        url("../fonts/Corbert-Regular.woff") format("woff"),
        url("../fonts/Corbert-Regular.ttf") format("truetype"),
        url("../fonts/Corbert-Regular.svg#Corbert-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url("https://fonts.googleapis.com/css?family=Rubik:400;500");

$corbert: "Corbert", sans-serif;
$rubik: "Rubik", sans-serif;

body{
    font-size: 16px;
    font-family: $corbert;
}

h1,h2,h3,h4,h5,h6{
    color: $dark;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.66666667rem;
    font-family: $rubik;
}

h1, .h1{font-size: 2.5rem;}
h2, .h2{font-size: 1.43rem}
h3, .h3{font-size: 1.143rem}
h4, .h4{font-size: 1.125rem}

p{
    margin-top: 0;
    margin-bottom: 0.66666667rem;
    font-family: $corbert;
}